<body style="background-color: #90639e;  margin: 0; padding: 0;">
  <div class="d-flex flex-column align-items-center justify-content-center  " style="min-height: 100dvh;">
    <div class="card" style="width: 25rem;">
      <div class="card-body">
        <h1 class="card-title text-center mb-4" style="color: #67127c;">Média</h1>
        <h4 class="card-subtitle mb-4 text-center" style="color: #5e5d5e;">Insira 4 valores pra calcular a média entre eles: </h4>
  
        <div class="input-group mb-3"> <!--input para copiar e colar-->
          <input type="number"  class="form-control form-control-lg" placeholder="Insira o 1° valor" [(ngModel)]="num1" (keydown.enter)="calcularmedia()">
        </div>

        <div class="input-group mb-3"> <!--input para copiar e colar-->
          <input type="number"  class="form-control form-control-lg" placeholder="Insira o 2° valor" [(ngModel)]="num2"  (keydown.enter)="calcularmedia()"> 
        </div>
  
        <div class="input-group mb-3"> <!--input para copiar e colar-->
          <input type="number"  class="form-control form-control-lg" placeholder="Insira o 3° valor" [(ngModel)]="num3"  (keydown.enter)="calcularmedia()">
        </div>
  
        <div class="input-group mb-3"> <!--input para copiar e colar-->
          <input type="number"  class="form-control form-control-lg" placeholder="Insira o 4° valor" [(ngModel)]="num4"  (keydown.enter)="calcularmedia()">
        </div>
  
  
        <div class="d-flex flex-column align-items-center mb-4"> <!--botao pra copiar e colar-->
          <button type="button" class="btn btn-primary mb-2"  style="background-color: #67127c; width: 350px; font-size: 22px;" (click)="calcularmedia()" >Calcular média</button> <!--puxa uma funcao do ts quando o botao é clicado-->
        </div>
        
        <div class="d-flex flex-column align-items-center "> <!--campo de resultado pra copiar e colar-->
          <label for="maior" style="font-size: 28px; color: white; border: 1px solid #5e5d5e; border-radius: 20px; background-color: #8d69a2; padding: 8px; width: auto; height: auto;" class="mb-3" >A média é </label>
          <p id="maior" style="border: 1px solid #5e5d5e; font-weight: bold; color: black; border-radius: 5px; padding: 10px;  padding: 20px; font-size: 25px;" class="text-center ">
            {{media}} <!--pega info do ts e mostra no html--> <!--o que esta dentro das chaves é o nome da variavel e nao a funçao-->
          </p>
        </div>  
      </div>
    </div>
  </div>
</body>
